<header class="header bg-header-home">
  <div class="container">
    <div class="header-menu">
      <a href="./index.html" class="logo-link">
        <svg width="24" height="24" class="logo">
          <use href="./images/sprite.svg#film"></use>
        </svg>
        <span class="logo-text">Movies app</span>
      </a>
      <nav class="navigation" id="nav-container" data-menu>
        <ul class="list-navigation">
          <li><a href="./index.html" id="home">Home</a></li>
          <li><a href="javascript:void(0)" id="myMovies">My movies</a></li>
          <li><a href="javascript:void(0)">Films</a></li>
          <li><a href="javascript:void(0)" class="series">Serials</a></li>
        </ul>
      </nav>
      <button type="button" class="menu-button" aria-expanded="false" aria-controls="nav-container"
              data-menu-button>
        <svg width="25" height="25" aria-label="mobile-menu-toggle">
          <use class="icon-menu" href="./images/sprite.svg#icon-mobile-menu"></use>
          <use class="icon-cross" href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
    <form name="header-form" class='js-search-form search-form"' id="search-form">
      <div class="search-container">
        <label for="search-input">
          <input type="text" placeholder="Search movie" name="searchInput" class="js-search" id="search-input" required
                 minlength="3">
        </label>
        <span class="form-icon-container">
          <svg width="24" height="24" class="icon-search">
            <use href="./images/sprite.svg#search"></use>
          </svg>
          <button class="button-search" type="submit" data-form-submit></button>
      </span>
      </div>
      <p class="form-text-error visually-hidden is-hidden">
        Search result not successful. Enter the correct movie name and
      </p>
    </form>
    <div class="wrapper-for-library is-display-none">
      <button class="button header-button-watched">Watched</button>
      <button class="button header-button-queue">Queue</button>
    </div>
  </div>
</header>
