<header class="header bg-header">
    <div class="container">
        <div class="header-menu">
            <a href="./index.html">
                <span class="logo-text">Movie App</span>
            </a>
            <nav class="navigation">
                <ul class="list-navigation">
                    <li><a href="">My movies</a></li>
                    <li><a href="">Films</a></li>
                    <li><a href="">Serial</a></li>
                    <li><a href="">Home</a></li>
                </ul>
            </nav>
        </div>
        <form name="header-form" class='js-search-form' id="search-form">
            <label for="search-input">
                <input type="text" placeholder="Search movie" name="searchInput" class="js-search" id="search-input">
            </label>
            <button class="js-button-submit button-search" type="submit">Submit</button>
        </form>
    </div>
</header>
