<div class="backdrop" data-backdrop>
    <div class="modal">
        <div class="modal-header">
            <button class='button-base modal-close-btn' type='button' data-action="close-modal">
                <svg width="25" height="25">
                    <use class="nav__menu" href="./images/sprite.svg#close"></use>
                </svg>
            </button>
        </div>
        <div class="js-modal">
            <button type="reset" data-close-modal>Close</button>
        </div>
    </div>
</div>