body {
  font: 600 12px/1.7 'Roboto ',
    Sans-Serif;
  color: $font-color;
  background-color: #ffffff;
  //background-color: #100e19;
}

.main {
  padding-top: 60px;
  padding-bottom: 60px;
}

a {
  color: #ffffff;
}
