.button {
  padding: 15px;
  max-width: 112px;
  width: 100%;

  font-weight: 600;

  background-color: transparent;
  color: #000000;

  border: 1px solid #000000;
  border-radius: 10px;

  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out, fill 0.1s ease-in-out;
  &:hover {
    box-shadow: 1px 4px 6px rgb(0 0 0 / 16%),
    0 4px 4px rgb(0 0 0 / 6%),
    0 1px 1px rgb(0 0 0 / 12%);
    transform: scale(1.05);
  }
}

.button-base {
  font-weight: 600;

  background-color: transparent;
  color: #000000;

  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out, fill 0.1s ease-in-out;
}