.bg-header-home {
    background-size: cover;
    background-color: #8c8c8c;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    image-set(url("../images/header/header-mobile-home.jpg") 1x, url("../images/header/header-mobile-home@2x.jpg") 2x);

    @media screen and (min-width: 768px) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
	image-set(url("../images/header/header-tablet-home.jpg") 1x, url("../images/header/header-tablet-home@2x.jpg") 2x);
    }

    @media screen and (min-width: 1024px) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
	image-set(url("../images/header/header-bg-desktop.jpg") 1x, url("../images/header/header-bg-desktop@2x.jpg") 2x);
    }

}

.bg-header-library {
    @extend .bg-header-home;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    image-set(url("../images/header/header-mobile-lib.jpg") 1x, url("../images/header/header-mobile-lib@2x.jpg") 2x);

    @media screen and (min-width: 768px) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
	image-set(url("../images/header/header-tablet-lib.jpg") 1x, url("../images/header/header-tablet-lib@2x.jpg") 2x);
    }

    @media screen and (min-width: 1024px) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
	image-set(url("../images/header/header-bg-myLib-desktop.jpg") 1x, url("../images/header/header-bg-myLib-desktop@2x.jpg") 2x);
    }
}