.backdrop {
    @extend %backdrop;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 200ms ease-in-out, opacity 200ms ease-in-out;
    overflow-y: scroll;
}

body.show-modal .backdrop {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
}

.modal {
    @extend %modal;
    margin: 25px;
    padding: 50px 30px;
    transition: opacity 250ms $timing-function, transform 250ms $timing-function;
    transform: translate(-50%, -150%) scale(0.9);
    @media screen and (max-width: 767px) {
	transform: translate(0, -150%);
    }

    .button-base.modal-close-btn {
	position: absolute;
	top: 15px;
	right: 15px;

	padding: 0;

	background-color: transparent;

	border: none;
	cursor: pointer;

	&:hover {
	    box-shadow: none;
	    transform: scale(1.15);
	}

	&:active {
	    fill: #8c8c8c;
	}
    }

    @media screen and (min-width: 768px) {
	position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	min-width: 618px;
    }

    @media screen and (min-width: 1024px) {
	max-width: 882px;
    }
}

body.show-modal .modal {
    overflow: hidden;
    @media screen and (max-width: 767px) {
	transform: translate(0, 0) scale(1);
    }

    @media screen and (min-width: 768px) {
	transform: translate(-50%, -50%) scale(1);
    }
}

.modal-content {
    @media screen and (min-width: 768px) {
	display: flex;
	> * {
	    flex-basis: 50%;
	}
    }

    @media screen and (max-width: 767px) {
	height: 100%;
    }
}

.movie-image {
    margin-bottom: 15px;

    .modal-title-small-device {
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	text-transform: uppercase;
	@media screen and (min-width: 768px) {
	    display: none;
	}
    }

    .modal-picture {
	width: 100%;
	margin-bottom: 30px;
	border-radius: 5px;

	@media screen and (min-width: 768px) {
	    width: 264px;
	    height: 374px;
	}
	@media screen and (min-width: 1024px) {
	    width: 396px;
	    height: 478px;
	}
    }
}

.movie-info {
    .modal-title-large-device {
	display: none;
    }

    table {
	width: 100%;
	margin-bottom: 25px;

	tr {
	    padding-top: 10px;
	    padding-bottom: 10px;

	    td {
		&:first-child {
		    color: #8c8c8c;
		}
	    }

	    &:nth-child(3) td:last-child {
		text-transform: uppercase;
	    }
	}
    }

    .description {
	margin-bottom: 25px;

	.description-title {
	    text-transform: uppercase;
	}
    }

    @media screen and (min-width: 768px) {
	margin-left: 25px;
	.modal-title-large-device {
	    display: block;
	    font-size: 20px;
	    font-weight: 600;
	    text-align: left;
	    text-transform: uppercase;
	}
    }
}

.box-button {
    display: flex;
    justify-content: center;

    .button-modal-watch, .button-modal-queue {
	text-transform: uppercase;
	@media screen and (min-width: 768px) {
	    max-width: 125px;
	}
    }

    .button-modal-watch {
	margin-right: 15px;
	background-color: $accent-color;
	color: $text-white-color;
    }
}


