.header {
    position: relative;
    height: 230px;
    padding-top: 62px;
    padding-bottom: 62px;
    @media screen and (min-width: 768px) {
	padding-top: 46px;
	padding-bottom: 46px;
    }

    .header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

	.logo-link {
	    display: inline-flex;
	    align-items: center;

	    .logo-text {
		margin-left: 10px;
		font-size: 18px;
		//display: none;
		@media screen and (min-width: 768px) {
		    display: block;
		    margin-left: 12px;
		    font-size: 30px;
		    font-weight: 600;
		}
	    }

	    @media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
	    }
	}
    }
}

.navigation {
    .list-navigation {
	@media screen and (max-width: 767px) {
	    li {
		border-bottom: 1px solid #ffffff;

		a {
		    display: block;
		    padding-top: 5px;
		    padding-bottom: 5px;
		    transition: background-color 0.250ms $timing-function;

		    &:hover {
			background-color: lighten($accent-color, 30%)
		    }
		}
	    }
	}

	a:hover {
	    color: $accent-color;
	}

	@media screen and (min-width: 768px) {
	    display: flex;

	    li + li {
		margin-left: 30px;
	    }
	}
    }
}

#search-form {
    position: relative;
    display: flex;
    justify-content: center;

    #search-input {
	position: inherit;
	min-width: 280px;
	height: 40px;
	border: none;
	outline: none;
	border-bottom: 1px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	@media screen and (min-width: 768px) {
	    min-width: 336px;
	}
    }

    .form-text-error {
	position: absolute;
	top: 100%;
	margin-top: 12px;
	font-size: 14px;
	color: #FF001B;
	transition: opacity 150ms $timing-function;
    }
}

.search-container {
    position: relative;

    .search-input {
	width: 100%;
    }

    .form-icon-container {
	position: absolute;
	right: 0;
	top: 50%;
	width: 24px;
	height: 24px;

	transform: translateY(-50%);

	.icon-search {
	    position: absolute;
	    right: 0;
	    width: 100%;
	    cursor: pointer;
	    stroke: #fff;
	    stroke-opacity: 1;

	    &:hover {
		width: 26px;
		height: 26px;
	    }

	    &:active {
		stroke-opacity: 0.7;
	    }
	}

	.button-search {
	    max-width: 100%;
	    background-color: transparent;
	    border: none;
	    outline: none;
	}
    }
}

.wrapper-for-library {
    display: flex;
    justify-content: center;

    .header-button-watched, .header-button-queue {
	text-transform: uppercase;
	width: 130px;
	height: 44px;

	&:visited {
	    background-color: $accent-color;
	}
    }

    .header-button-watched {
	margin-right: 15px;
	background-color: $accent-color;
	color: #ffffff;
    }

    .header-button-queue {
	color: #ffffff;
	border: 1px solid #ffffff;
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    background-color: transparent;
}

.is-border {
    border-bottom: 3px solid $accent-color;
}

.is-display-none {
    display: none;
}



